/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Apr, 2023, 11:06:45 AM
    Author     : vinoth
*/


h1 span
{
    font-family: arial;
    opacity: 0;
    display: inline-block;
    -webkit-animation: animate 1s linear forwards;
}
@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
}
    100%
{
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0px);

}
}
h1 span:nth-child(1)
{
    animation-delay: 0.5s;
}
h1 span:nth-child(2)
{
    animation-delay: 1s;
}
h1 span:nth-child(3)
{
    animation-delay: 1.5s;
}
h1 span:nth-child(4)
{
    animation-delay: 2s;
}
h1 span:nth-child(5)
{
    animation-delay: 2.5S;
}


.center{
    display: flex;
    justify-content: center;
}


.hover-box{
    width: 340px;
    transition: 1s;
}

.hover-box img{
    width: 100%;
    
}
.hover-box:hover{
    transform:scale(1.2);
}


.btn{
    font-size: 20px;
    background: #dd0a37;
    text-align: center;
    height: 60px;
    width: 175px;
    padding: 15px;
    color: #fff;
    border-radius: 8px;
    transition: 1s;
}
.btn:hover{
    transform: scale(1.1);   
}


.wrapper .button{
display: inline-block;
height: 60px;
width: 60px;
float: left;
margin: 0 5px;
overflow: hidden;
background: #fff;
border-radius: 50px;
cursor: pointer;
box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
transition: all 0.3s ease-out;
}
.wrapper .button:hover{
width: 200px;
}
.wrapper .button .icon{
display: inline-block;
height: 60px;
width: 60px;
text-align: center;
border-radius: 50px;
box-sizing: border-box;
line-height: 60px;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1):hover .icon{
background: #3b5998;
}
.wrapper .button:nth-child(2):hover .icon{
background: #00acee;
}
.wrapper .button:nth-child(3):hover .icon{
background: #e1306c;
}	
.wrapper .button:nth-child(4):hover .icon{
background: #c4302b;
}
.wrapper .button .icon i{
font-size: 25px;
line-height: 60px;
transition: all 0.3s ease-out;
}
.wrapper .button:hover .icon i{
color: #fff;
}
.wrapper .button span{
font-size: 20px;
font-weight: 500;
line-height: 60px;
margin-left: 10px;
transition: all 0.3s ease-out;
}
.wrapper .button:nth-child(1) span{
color: #3b5998;
}
.wrapper .button:nth-child(2) span{
color: #00acee;
}
.wrapper .button:nth-child(3) span{
color: #e1306c;
}
.wrapper .button:nth-child(4) span{
color: #c4302b;
}


.marquee{
    overflow: hidden;
    white-space: nowrap;
}
.marquee span{
    opacity: 65%;
    display: inline-block;
    animation: marquee 10s linear infinite;
}
@keyframes marquee{
    0%
    {
        transform: translateX(100%);
    }
    100%
    {
        transform: translateX(-100%);
    }
}
